th {
    background-color: aqua;
    font-size: 30px;
    color: white;
}

td {
    background-color: blueviolet;
    font-size: 20px;
    color: white;  
}

h1 {
    background-color: rgb(216, 9, 9);
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}